header {
    background-color: green;
    order: -1;
}

footer {
    background-color: red;
    order: 1;
}

.navigation {
    order: -1;
    background-color: lightpink;
    padding: 1em;
}

article {
    background-color: gold;
    display: flex;
    flex-direction: row;
}

.article-nav>nav {
    height: 100%;
}

.article-content {
    padding: 1em;
}
body {
    display: flex;
    flex-direction: column;
}

.page-content {
    display: flex;
    flex-direction: row;
}